<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROT13</title>
</head>
<body>
<h2>Enter some text to ROT13:</h2>
<form method="post">
      <textarea name="text"
                style="height: 100px; width: 400px;">{{ROT13_text}}</textarea>
    <br>
    <input type="submit">
</form>
</body>
</html>


